<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexgochi.wedo20">

    <application
        android:allowBackup="true"
        android:icon="@drawable/wedo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wedo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OverviewActivity"
            android:label="@string/overview"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activity.TodayActivity"
            android:label="@string/app_today"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TomorrowActivity"
            android:label="@string/app_tomorrow"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activity.ImportantActivity"
            android:label="@string/app_important"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activity.WorkActivity"
            android:label="@string/app_work"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activity.SocialActivity"
            android:label="@string/app_social"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>